@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    width: 100vw;
    scroll-behavior: smooth;
    background-color: #242423;
    color: white;
    font-family: dynapuff;
}

.header {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #fca311;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #495057;
    transition: 400ms ease-in-out;
}

.scroll-header {
    transform: translate3d(0, -102%, 0);
}

#play {
    transition: 500ms;
    text-align: center;
    font-size: 30px;
    animation-name: move;
    animation-duration: 2s;
    position: relative;
}

@keyframes move {
    from{
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.switching {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    margin-inline: auto;
    width: 25%;
}

.iconing {
    display: flex;
    align-items: center;
}

.iconing li{
    display: inline-block;
    margin-inline: .5rem;
}

.switch-clr {
    color: black;
    background: white;
}

main {
    padding-top: 10rem;
    width: clamp(200px, 70vw, 1100px);
    margin-inline: auto;
}

.olori {
    padding-left: 2rem;
}

label {
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.word {
    margin-right: 1rem;
}

 /* toggle MOON */

.dom-div h1{
    border-left: 3px solid #fca311;
    padding-left: 1rem;
    margin-bottom: 2rem;
}

form {
    margin-bottom: 2rem;
}

input[type="text"].dom-text {
    margin-block: .7rem;
    height: 1.7rem;
    border: none;
}

.input-bg {
    background-color: #e5e5e5;
}

.dom-btn {
    background-color: #fca311;
    color: #e5e5e5;
    border: none;
    padding: .3rem 1rem;
    font-family: dynapuff;
}

.doming {
    padding-left: 2rem;
}

.doming h2 {
    margin-bottom: 1.7rem;
}

.doming :is(a) {
    display: block;
    color: #495057;
    padding: .5rem;
    margin-block: .5rem;
    border-radius: 3px;
}

.listing {
    color: red;
}

.doming :is(a):hover {
    background-color: #fca311;
    color: white; 
}

.board {
    background-color: #495057;
    border-radius: 3px;
    padding-top: 1rem;
}

.poly-sci {
    width: 100%;
    gap: 2.5rem;
    display: grid;
    grid-template-columns: 20% 1fr;
    margin-bottom: 2rem;
}

.poli-sci-swi {
    background-color: #e5e5e5;
}

.poly-note {
    line-height: 1.8rem;
    transition: all .4s;
}

.mod {
    width: 100%;
    margin-block: 3rem;
    padding: 2rem;
    line-height: 1.8rem;
    background-color: #495057;
}

.para {
    padding-bottom: 1.3rem;
}

.open-modal, .close-modal {
    display: inline-block;
    background-color: #fca311;
    color: #e5e5e5;
    border: none;
    padding: .8rem 1rem;
    font-family: dynapuff;
    margin-block: 1rem;
    cursor: pointer;
}

.log {
    margin-inline: auto;
    text-align: center;
    border: none;
    border-radius: 10px;
    width: 40%;
    padding: 2rem 3rem;
    line-height: 1.8rem;
    background-color:#e5e5e5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.log::backdrop {
    background-color: rgba(250, 250, 250, .4);
}

.chill {
   display: flex;
   align-items: center;
   padding-inline: 2rem;
   gap: 1rem;
}

.poly-sci h2{
    margin-top: 1.3rem;
    text-align: center;
}

figure {
    margin-bottom: 2rem;
}

:is(figure) img {
    margin-top: 3rem;
   width: 100%;
   height: 400px;
   object-fit: cover;
   border-radius: 3px;
   transition: all 1s;
}

.art h2 {
    margin-bottom: .5rem;
}

.numbers {
    margin-block: 1rem;
    display: inline-block;
}

.numb {
    margin-block: 1rem;
    width: 300px;
}

:is(#twi, #envelope, #night) {
    transition: .4s;
    cursor: pointer;
}

:is(#twi, #envelope, #night):hover {
    transform: scale(1.5);
}

.ex {
    text-align: center;
    margin-block: 2rem;
    border-left: unset;
}

.how-to {
    margin-block: .5rem;
}

.top-div {
    background-color:  #495057;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 1rem;
    transition: 400ms;
}

.rotate-arrow {
    transform: rotate(-180deg);
    transition: 400ms;
}

.bottom-p {
    padding: 1rem 1rem 2rem 1rem;
    display: none;
}

.hideShow {
    display: block;
}


.picc {
    width: 100%;
    height: 100%;
}

.mailer {
    width: 200px;
    height: 20px;
    margin-left: 20px;
}

.enter {
    width: 100px;
    padding: 10px;
    margin-top: 1rem;
    background-color: #fca311;
    border: none;
}

.info {
    background-color: #e5e5e5;
    width: 300px;
    height: 200px;
    margin-top: 1rem;
}

.overlap {
    margin-block: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: 400ms ease-in-out;
}

.left {
    width: 50%;
    height: 400px;
    background-image: url(images/pexels-daniel-reche-1556698.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.right {
    width: 50%;
    padding: 5%;
    transform: translate(-30%, 0);
    background-color: rgba(250, 200, 200, .4);
}

.right p {
    line-height: 1.5;
    margin-block: .5rem;
}

.burg-btn {
    position: relative;
    border: 1px solid white;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 10px;
    transition: box-shadow ease-in-out 200ms;
}

.burg-btn:hover {
    box-shadow:  5px 5px #fca311;
}


.burg-btn1 {
    position: relative;
    border: 1px solid white;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 10px;
    transition: 400ms ease-in-out;
}

.burg-btn1:hover::after {
    opacity: 1;
}

.burg-btn1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5px;
    left: 5px;
    border: 1px solid #fca311;
    background-color: #fca311;
    z-index: -1;
    transition: 400ms ease-in-out;
    opacity: 0;
}

.effect-img img {
    width: 100%;
    height: 100%;
    display: block;
}

.effect-cont h2 {
    margin-block: 10px;
}

.effect-cont p {
    margin-block: 5px;
}



.dey-play {
    margin-block: 3rem;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.effect {
    position: relative;
    overflow: hidden;
}

.effect-cont {
    position: absolute;
    padding: 10px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translate(0, -100%);
    background-color: rgba(0,0,0, .5);
    transition: 400ms ease-in-out;
}

.effect:hover .effect-cont {
    transform: translate(0);
}

.content-wrap:not(:last-child) {
    margin-bottom: 2rem;
}

.demo {
    width: 50%;
    padding-block: 2rem;
}

.ordered {
    margin-block: 1rem;
    border: #fca311 1px solid;
    padding: .5rem;
    transform: skew(10deg, 0);
}

.more {
    display: none;
}

.more-display {
    display: block;
}

.flexing {
    margin-block: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.xing {
    background-image: url(images/blob-haikei.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3rem;
    flex-grow: 1;
    text-align: center;
}

@media screen and (max-width: 800px) {

    main {
        width: 90%;
    }

    .poly-sci {
        display: block;
    }

    .chill {
        flex-direction: column;
        gap: 1rem;
    }

    .switching {
        width: 70%;
       margin-inline: unset;
       margin-block: 1.5rem;
    }

    .mod {
        padding: 2rem 1rem;
    }

    .overlap {
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 95%;
        transform: translate(0, -100px);
    }
}








