@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    transition: 1s;
}

body {
    scroll-behavior: smooth;
    background-color: #242423;
    color: white;
    font-family: dynapuff;
}

.switching {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    margin-inline: auto;
    width: 25%;
}

.iconing {
    display: flex;
    align-items: center;
}

.iconing li{
    display: inline-block;
    margin-inline: .5rem;
}

.switch-clr {
    color: black;
    background: white;
}

main {
    padding-top: 3rem;
    width: 100%;
}

.olori {
    padding-left: 2rem;
}

label {
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.word {
    margin-right: 1rem;
}

/* toggle MOON */
.dom-div {
    /* width: clamp(300px, 75%, 900px); */
    width: max(75%, 300px);
    margin-inline: auto;
}

.dom-div h1{
    border-left: 3px solid #fca311;
    padding-left: 1rem;
    margin-bottom: 2rem;
}

form {
    margin-bottom: 2rem;
}

input[type="text"].dom-text {
    margin-block: .7rem;
    height: 1.7rem;
    border: none;
}

.input-bg {
    background-color: #242423;
}

.dom-btn {
    background-color: blueviolet;
    color: #e5e5e5;
    border: none;
    padding: .3rem 1rem;
    font-family: dynapuff;
}

.doming {
    border-left: 3px solid #fca311;
    padding-left: 2rem;
}

.doming h2 {
    margin-bottom: 1.7rem;
}

.doming :is(a) {
    display: block;
    color: #495057;
    padding: .5rem;
    margin-block: .5rem;
    border-radius: 3px;
}

.listing {
    color: red;
}

.doming :is(a):hover {
    background-color: blueviolet;
    /* color: white; */
}

.board {
    background-color: #495057;
    border-radius: 3px;
}

.poly-sci {
    width: 100%;
    gap: 2.5rem;
    display: grid;
    grid-template-columns: 20% auto;
}

.poli-sci-swi {
    background-color: #e5e5e5;
}

.poly-note {
    line-height: 1.8rem;
    transition: all .4s;
}

.chill {
   display: flex;
   align-items: center;
   padding-inline: 2rem;
   gap: 1rem;
}

.poly-sci h2{
    margin-top: 1.3rem;
    text-align: center;
}

figure {
    margin-bottom: .2rem;
}

:is(figure) img {
    margin-top: 3rem;
   width: 100%;
   height: 400px;
   object-fit: cover;
   border-radius: 3px;
   transition: all 1s;
}

.art h2 {
    margin-bottom: .5rem;
}

.numbers {
    margin-block: 1rem;
    display: inline-block;
}

.numb {
    margin-block: 1rem;
    width: 300px;
}

:is(#twi, #envelope, #night) {
    transition: .4s;
    cursor: pointer;
}

:is(#twi, #envelope, #night):hover {
    transform: scale(1.5);
}








